h1, p {
  font-family: Lato;
}
body{
  background:lightgray;
}
.video-content{
  max-width:80%;
  margin:50px auto;
  display:flex;
  justify-content:space-evenly;
  align-items: center;
  
  flex-wrap: wrap;
  border-radius:20px;
}
.video-wrapper{
  flex-grow: 1;
  margin-top:20px;
}
iframe{
  width:80%;
  height:300px;
  margin:20px;
}

.video-list{
  padding:10px 10px;
  display:flex;
  flex-grow: .35;
}
.video-list-item{
  background:#fff;
  padding:10px 20px;
  border-radius:20px;
  font-weight: bold;
}

.video-list-item:hover{
  background:#771e30;
  color:#fff;
  cursor:pointer;
}